.container {
  padding: 16px;
  background-color: rgba(251, 244, 230, 1);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 311px;
}
.inputCont,
.textareaCont {
  border: 1px solid rgba(184, 184, 184, 1);
  border-radius: 8px;
  padding: 8px;
}
.contInput {
  display: flex;
  flex-direction: column;
}
