.portfolio_section {
    scroll-margin-top: 60px;
    background-color: var(--black);
    color: var(--white);

    padding: 48px 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media screen and (min-width: 768px) {
        padding: 60px 48px;
        scroll-margin-top: 40px;
    }

    @media screen and (min-width: 1280px) {
        scroll-margin-top: 20px;
    }
}

.portfolio_title {
    margin-bottom: 32px;
}

.toggle_btn {
    margin-top: 16px;
    padding: 4px 8px;

    border: none;
    border-bottom: 1px solid var(--white);

    background: none;
    color: var(--white);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}