.root{
    position: relative;
    z-index: 50;
}

.wrapper{
    position: fixed;
    left: 50%;
    /* центр по вертикалі всередині (100vh - header) */
    top: calc(72px + (100vh - 72px) / 2);
    transform: translate(-50%, -50%);

    background: transparent;
    outline: none;
}

.overlay{
    position: fixed;
    top: 72px;
    left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,.25);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    pointer-events: none;
}

.panel{
    position: relative;
    background: transparent;
    outline: none;
}

.frame{
    width: min(90vw, 544px);
    height: min(80vh, 900px);
    border-radius: 8px;
    overflow: hidden;
    background: transparent;
}

.img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;

    border-radius: 8px;
}

.close{
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    border: none;
}
