.dropdown {
   position: relative;
   display: inline-block;
}

.light .dropdownButton,
.light .dropdownItem {
   color: var(--white);
}

.light .dropdownButton::after,
.light .dropdownItem::after {
   background: var(--white);
}

.light .arrow {
   filter: invert(0);
}

.light .dropdownItem.active {
   color: var(--gold);
}

.dark .dropdownButton,
.dark .dropdownItem {
   color: var(--black);
}

.dark .dropdownButton::after,
.dark .dropdownItem::after {
   background: var(--black);
}

.dark .arrow {
   filter: invert(1);
}

.dark .dropdownItem.active {
   color: var(--gold);
}

.dropdownButton {
   display: flex;
   align-items: center;
   gap: 6px;
   background: transparent;
   border: none;
   font-size: 16px;
   font-weight: 400;
   cursor: pointer;
   position: relative;
}

.dropdownButton::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 1px;
   opacity: 0;
   transition: opacity 0.2s ease;
}

.dropdownButton:hover::after {
   opacity: 1;
}

.arrow {
   transition: transform 0.3s ease;
}

.arrow.open {
   transform: rotate(180deg);
}

.dropdownList {
   position: absolute;
   top: 100%;
   right: 0;
   background: transparent;
   padding: 6px 0;
   list-style: none;
   z-index: 50;
}

.dropdownItem {
   display: block;
   background: transparent;
   border: none;
   font-size: 16px;
   font-weight: 400;
   cursor: pointer;
   padding: 6px 13px 6px 0;
   width: 100%;
   text-align: left;
   position: relative;
   transition: color 0.3s ease;
}

.dropdownItem::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 1px;
   opacity: 0;
   transition: opacity 0.2s ease;
}

.dropdownItem:hover::after {
   opacity: 1;
}

.dropdownItem.active {
   font-weight: 500;
}

@media (min-width: 768px) {
   .dropdownItem {
      padding-right: 20px;
   }
}