.dropdown {
   position: relative;
   display: inline-block;
}

.scrolledDropdown .dropdownButton {
   color: var(--black);
}

.scrolledDropdown .dropdownButton::after {
   background: var(--black);
}

.scrolledDropdown .dropdownList {
   -webkit-backdrop-filter: blur(2px);
   backdrop-filter: blur(2px);
}

.scrolledDropdown .dropdownItem {
   color: var(--black);
}

.scrolledDropdown .dropdownItem::after {
   background: var(--black);
}

.scrolledDropdown .dropdownItem.active {
   color: var(--gold);
}

.scrolledDropdown .arrow {
   filter: invert(1);
}

.dropdownButton {
   display: flex;
   align-items: center;
   gap: 6px;
   background: transparent;
   border: none;
   color: var(--white);
   font-size: 16px;
   font-weight: 400;
   cursor: pointer;
}

.dropdownButton::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 1px;
   background: var(--white);
   opacity: 0;
   transition: opacity 0.2s ease;
}

.dropdownButton:hover::after {
   opacity: 1;
}

.arrow {
   transition: transform 0.3s ease;
}

.arrow.open {
   transform: rotate(180deg);
}

.dropdownList {
   position: absolute;
   top: 100%;
   right: 0;
   background: transparent;
   padding: 6px 0;
   margin: 0;
   list-style: none;
   text-align: right;
   z-index: 50;
}

.dropdownItem {
   display: block;
   background: transparent;
   border: none;
   color: var(--white);
   font-size: 16px;
   font-weight: 400;
   cursor: pointer;
   padding: 6px 0px;
   padding-right: 13px;
   width: 100%;
   text-align: left;
   position: relative;
   transition: color 0.3s ease;
}

.dropdownItem::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 1px;
   background: var(--white);
   opacity: 0;
   transition: opacity 0.2s ease;
}

.dropdownItem:hover::after {
   opacity: 1;
}

.dropdownItem.active {
   color: var(--gold);
}

.dropdownButton::after,
.dropdownItem::after {
   display: none;
}

@media (min-width: 768px) {
   .dropdownItem {
      padding-right: 22px;
   }
}

@media (min-width: 1024px) {

   .dropdownButton::after,
   .dropdownItem::after {
      display: block;
   }

   .dropdownButton:hover::after,
   .dropdownItem:hover::after {
      opacity: 1;
   }
}