.about {
  background-color: rgba(255, 253, 248, 1);
}

.containerAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textAboutCont {
  display: flex;
  flex-direction: column;
  width: auto;
  /* max-width: 342px; */
  padding: 24px 32px;
}

.imgAbout {
  position: relative;
  width: 100%;
}
.titleAbout {
  padding-top: 24px;
  padding-bottom: 12px;
}
.textAbout {
  padding-bottom: 8px;
}
.textAboutLast {
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 60px 48px;
  }
  .containerAbout {
    height: 502px;
    flex-direction: row;
    align-items: stretch;
  }
  .imgAbout {
    border-radius: 8px;
    overflow: hidden;
  }
  .imgAbout :global(img) {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  .imgAbout:first-child {
    flex: 432 1 0;
  }

  .imgAbout:last-child {
    flex: 546 1 0;
  }

  .textAboutCont {
    flex: 319 1 0;
    max-width: 319px;
    margin-right: 24px;
    margin-left: 24px;
    /* max-width: 319px; */
    background-color: rgba(248, 247, 242, 1);
    border-radius: 8px;
    /* padding: 24px 32px 91px 32px; */
  }
  .titleAbout {
    padding-bottom: 32px;
    padding-top: 0;
  }
  .textAbout {
    padding-bottom: 16px;
  }
}
