.about {
  background-color: rgba(255, 253, 248, 1);
}

.containerAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textAbout {
  display: flex;
  flex-direction: column;
  width: auto;
  /* max-width: 342px; */
  padding: 24px 32px;
  font-family: "Manrope", sans-serif;
}

.imgAbout {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .containerAbout {
    flex-direction: row;
    align-items: stretch;
  }

  .imgAbout :global(img) {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  .imgAbout:first-child {
    flex: 432 1 0;
  }

  .imgAbout:last-child {
    flex: 546 1 0;
  }

  .textAbout {
    max-width: 319px;
    background-color: rgba(248, 247, 242, 1);
    /* padding: 24px 32px 91px 32px; */
  }
}
