.gridWrapper {
    width: 100%;
}

.sliderWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.image_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }
}

.image_item {
    position: relative;
}

.image_item:hover {
    z-index: 1;
}

.placeholder {
    text-align: center;
    color: var(--grey-light);
    opacity: 0.4;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    padding: 160px 0;

    @media screen and (min-width: 768px) {
        font-size: 40px;
    }
}