.embla__viewport { overflow: visible; }
.embla__container { overflow: visible; }
.embla__slide { overflow: visible; }

.slider {
    position: relative;
    width: 100%;
}

.viewport {
    overflow: hidden;
    width: 100%;
}

.slider_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #fff;
    font-size: 24px;
    line-height: 1;
    width: 16px;
    height: 16px;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 2;
}

.leftBtn {
    left: -2px;
}

.rightBtn {
    right: -2px;
}

.slider_list {
    display: flex;
    will-change: transform;
    width: 100%;

    @media screen and (min-width: 768px) {
        gap: 24px;
    }
}

.slider_item {
    position: relative;
    flex: 0 0 100%;
    min-width: 0;

    cursor: pointer;

    @media screen and (min-width: 768px) {
        flex: 0 0 calc((100% - 3 * 24px) / 4);
    }
}

@media (hover: hover) and (pointer: fine) {
    .slider_item:hover { z-index: 3; }
}