.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--overlay);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: var(--grey);
  padding: 32px 8px;
  border-radius: 8px;
  max-width: 660px;
  width: 90%;
  text-align: center;
  box-shadow: 0px 0px 8px 0px #d2d2d240;
}
.title {
  padding-bottom: 16px;
}
.text {
  padding-bottom: 24px;
  font-size: 18px;
  font-family: var(--second-family);
  text-align: center;
}
.btnModal {
  border-radius: 8px;
  height: 60px;
  background: var(--gold);
  border: none;
  width: 100%;
  max-width: 400px;
}
